# Cells
A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [32]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from IPython.display import display, Markdown
import numpy as np
import pandas as pd
from datetime import datetime

In [64]:
data=pd.read_csv(r"/content/covid_19_india.csv")
data_vaccine=pd.read_csv(r"/content/covid_vaccine_statewise.csv")
data_testing=pd.read_csv(r"/content/StatewiseTestingDetails.csv")

In [65]:
data.head()

   Sno        Date     Time  ... Cured Deaths Confirmed
0    1  2020-01-30  6:00 PM  ...     0      0         1
1    2  2020-01-31  6:00 PM  ...     0      0         1
2    3  2020-02-01  6:00 PM  ...     0      0         2
3    4  2020-02-02  6:00 PM  ...     0      0         3
4    5  2020-02-03  6:00 PM  ...     0      0         3

[5 rows x 9 columns]

In [68]:
data = data.rename(columns={'State/UnionTerritory':'States','Cured':'Recovery'})

In [69]:
data.head()

   Sno        Date     Time  ... Recovery Deaths Confirmed
0    1  2020-01-30  6:00 PM  ...        0      0         1
1    2  2020-01-31  6:00 PM  ...        0      0         1
2    3  2020-02-01  6:00 PM  ...        0      0         2
3    4  2020-02-02  6:00 PM  ...        0      0         3
4    5  2020-02-03  6:00 PM  ...        0      0         3

[5 rows x 9 columns]

In [70]:
data = data.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'], axis=1)

In [71]:
data.head()

         Date  States  Recovery  Deaths  Confirmed
0  2020-01-30  Kerala         0       0          1
1  2020-01-31  Kerala         0       0          1
2  2020-02-01  Kerala         0       0          2
3  2020-02-02  Kerala         0       0          3
4  2020-02-03  Kerala         0       0          3

In [72]:
data['Active'] =data['Confirmed']-data['Recovery']-data['Deaths']

In [73]:
data.head()

         Date  States  Recovery  Deaths  Confirmed  Active
0  2020-01-30  Kerala         0       0          1       1
1  2020-01-31  Kerala         0       0          1       1
2  2020-02-01  Kerala         0       0          2       2
3  2020-02-02  Kerala         0       0          3       3
4  2020-02-03  Kerala         0       0          3       3

In [75]:
data=data.sort_values(['Date','States']).reset_index(drop=True)
data['Date']=pd.to_datetime(data['Date'])

In [76]:
data

            Date         States  Recovery  Deaths  Confirmed  Active
0     2020-01-30         Kerala         0       0          1       1
1     2020-01-31         Kerala         0       0          1       1
2     2020-02-01         Kerala         0       0          2       2
3     2020-02-02         Kerala         0       0          3       3
4     2020-02-03         Kerala         0       0          3       3
...          ...            ...       ...     ...        ...     ...
16845 2021-07-07      Telangana    613124    3703     628282   11455
16846 2021-07-07        Tripura     63964     701      68612    3947
16847 2021-07-07  Uttar Pradesh   1682130   22656    1706818    2032
16848 2021-07-07    Uttarakhand    332006    7338     340882    1538
16849 2021-07-07    West Bengal   1472132   17834    1507241   17275

[16850 rows x 6 columns]

In [115]:
india_cases=data[data['Date']==data['Date'].max()].copy().fillna(0)
india_cases.index=india_cases['States']
india_cases=india_cases.drop(['States','Date'],axis=1)

In [82]:
india_cases.sort_values('Active',ascending=False).style\
    .background_gradient(cmap='YlGn_r',subset=['Confirmed'])\
    .background_gradient(cmap='BrBG_r',subset=['Deaths'])\
    .background_gradient(cmap='BuPu',subset=['Recovery'])\
    .background_gradient(cmap='YlOrBr',subset=['Active'])\

In [112]:
def horizontal_bar_chart(df,x,y,title,x_label,y_label,color):
    fig=px.bar(df,x=x,y=y,orientation='h',title=title,
               labels={x.name:x_label,
                       y.name:y_label},color_discrete_sequence=[color])
    fig.update_layout(yaxis={'categoryorder':'total ascending'})
    fig.show()

In [90]:
cnf,dth,rec,act='#393e46','#33ccff','#ff99cc','#fe9801'

In [92]:
import plotly.express as px

In [94]:
import plotly.graph_objs as go

In [96]:
import plotly.figure_factory as ff

In [98]:
from plotly.subplots import make_subplots

In [107]:
from plotly.offline import init_notebook_mode,iplot

In [111]:
top_10_active_cases=india_cases.sort_values('Confirmed',ascending=False)[:10]
horizontal_bar_chart(top_10_active_cases,top_10_active_cases.Active,top_10_active_cases.index,
                     'Top 10 States with most Deaths States','Number of deaths','States Name',dth)

In [114]:
data_vaccine

      Updated On        State  ...  60+ years (Age)  Total Individuals Vaccinated
0     16/01/2021        India  ...              NaN                       48276.0
1     17/01/2021        India  ...              NaN                       58604.0
2     18/01/2021        India  ...              NaN                       99449.0
3     19/01/2021        India  ...              NaN                      195525.0
4     20/01/2021        India  ...              NaN                      251280.0
...          ...          ...  ...              ...                           ...
6694  11/07/2021  West Bengal  ...              NaN                           NaN
6695  12/07/2021  West Bengal  ...              NaN                           NaN
6696  13/07/2021  West Bengal  ...              NaN                           NaN
6697  14/07/2021  West Bengal  ...              NaN                           NaN
6698  15/07/2021  West Bengal  ...              NaN                           NaN

[6699 rows x 18 columns]